html, body {

	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Avenir,helvetica neue,Helvetica,Arial,sans-serif;
	color: #111;
	text-align: center;
}

input {
    margin: 5px;
    height: 25px;
}

select {
    margin: 5px;
    height: 30px;
}

button {
    font-size: 15px;
    padding: 5px;
    margin: 5px;
    width: 150px;
}

.left {

	float: left;

}

.right {

	float: right;

}

.w-50 {
	
	width: 50px;

}

.w-100 {
	
	width: 100px;

}

.w-150 {
	
	width: 150px;

}

.w-200 {
	
	width: 200px;

}

#header {

    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 40px;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    color: black;
    background-color: #f3f7fb;
    border-bottom: 1px solid #111;

}

#header-icon {

	position: absolute;
	top: 0px;
	right: 0px;
	left: 15px;
	padding-top: 5px;
	height: 40px;
	width: 40px;
	float: left;

}

#header-divider {

    position: absolute;
	top: 13px;
	left: 70px;
    width: 1px;
    height: 25px;
    background-color: #888;

}

#header-title {

	position: absolute;
	top: 0px;
	left: 90px;
	height: 34px;
	padding-top: 13px;
	float: left;
	font-size: 20px;
	color: #333;

}

#header-klyccb {

	position: absolute;
	top: 0px;
	right: 15px;
	height: 34px;
	padding-top: 17px;
	float: right;
	font-size: 15px;
	color: #333;

}

#content {

	position: relative;
    top: 51px;
    bottom: 31px;
    width: 800px;
    padding-top: 10px;
    padding-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;

}

.section {

    width: 100%;

}

.row {

    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    display: flex;

}

.form-group {

	text-align: left;

}

.label {

    font-size: 15px;
    margin: 5px;
    padding-top: 5px;

}

.label-bold {

    font-size: 15px;
    margin: 5px;
    height: 25px;
    padding-top: 5px;
    font-weight: bold;

}

#footer {

	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 30px;
	width: 100%;
	font-size: 13px;
    color: #333;
	background-color: #f3f7fb;
    border-top: 1px solid #111;

}

#footer_right {

	margin-right: 20px;
	padding-top: 7px;

}

#footer_left {

	margin-left: 20px;
	padding-top: 7px;

}