<!DOCTYPE html>
<html>
<head>
    <title>BirdNET TFJS Example</title>
</head>
<body>
    <h1>BirdNET TFJS Example</h1>
    <!-- Button to permit user's interation, which avoids a CORS error-->
    <input type="button" id="button" onClick="run()" value="Loading... please wait. This may take a while" disabled />
    <p id="status"></p>
    
    <!-- Load TensorFlow.js -->
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@latest"></script>
    <!-- Load your custom script -->
    <script type="text/javascript" src="static/main.js"></script>
</body>
</html>